extends /_include/_layout
append variables
  - var directory ='/'
block css
block js

block body
  - imgPath = "/assets/img/"
  main
    .mv
      h1 Transition
      .border
      p Shimon Dotera's site ver.4
    

    section.section.works
      .section_inner
        .section_head
          h2 Works
        -
          const works1 = [
            {
              href: 'https://animatome.netlify.app/',
              image: 'https://images.microcms-assets.io/assets/fc5a67cf51fb4ac3a0eb5f358bf160d6/fb28dbf7337b456e83d631224c9fdb6e/iine.gif',
              text: 'cssアニメがたくさん<br>「アニマトメ」'
            },
            {
              href: 'https://bouken-no-syo.netlify.app/',
              image: 'https://images.microcms-assets.io/assets/e502aee9648f4b008c0ba56f3c8de29d/dd4a09b848b24ff99d0a948c7f18486f/thumb.png',
              text: 'ゲームのルールをまとめた<br>「ぼうけんのしょ」'
            },
            {
              href: 'https://hello-koala.netlify.app/',
              image: 'https://hello-koala.netlify.app/static/media/my-koala.4a0297a8.jpg',
              text: 'コアラが挨拶してくれる<br>「Hello Koala!」'
            },
            {
              href: 'http://softmatter.phys.kindai.ac.jp/',
              image: 'http://softmatter.phys.kindai.ac.jp/assets/images/weblogo.png',
              text: '父、堂寺知成の個人サイト'
            },
            {
              href: 'https://dorara-m.github.io/Janken2/',
              image: 'https://dorara-m.github.io/Janken2/images/win.jpg',
              text: 'じゃんけん'
            },
          ]
          const works2 = [
            {
              href: 'https://dorara-m.github.io/Janken2/',
              image: 'https://dorara-m.github.io/Janken2/images/win.jpg',
            },
          ]
        
        ul.leftList
          each workItem in works1
            li
              a(href=workItem.href, target="_blank", rel="noopener noreferrer")
                img(src=workItem.image, alt="")
                if workItem.text
                  span!=workItem.text
        //- ul.rightList
        //-   each workItem in works2
        //-     li
        //-       a(href=workItem.href, target="_blank", rel="noopener noreferrer")
        //-         img(src=workItem.image, alt="")
          

    section.section.profile
      .section_inner
        .section_head
          h2 This is me.
        .profile_cnt
          img(src=imgPath+"me.png")
          p ぬめちゃ ≒ 堂寺志門（どうてらしもん）
          p ゲーム実況者、Webの表面をつくるフロントエンドエンジニア。#[br]ものづくりが好き。おしゃべりが好き。#[br]社会人4年生が近い、27歳♂。
          p ゲーム・アニメ・声優・Vtuber・音楽・ご飯がLove。#[br]ボイパできるのがちょっとした自慢。
          p
            a(href="https://www.youtube.com/channel/UCR5b4PoQ3ainPNFD5bk7enA", target="_blank", rel="noopener noreferrer") YouTubeで #おはかつ 毎朝ゲーム配信中。

    //- section.section.loves
    //-   .section_inner
    //-     h2 Loves
    //-     .section_disc
    //-       p だいすきなものたち。#[br]ご飯3杯はいけるね。
    //-     .section_body
    //-       ul
    //-         li
    //-           .loves_item
    //-             h3 花譜さん
    //-             p 20220125時点。大好き。知ったきっかけは推し声優あやねるのススメ。ありがとうあやねる。消え入るような細い声質で太く歌うのが好き。泣き出す前みたいな震える声が好き。ハイテンポな曲をリズミカルに拍ぴったりに歌うリズム感がやばい。曲が好き。カンザキイオリさんすごい。
    //-         li
    //-           .loves_item
    //-             h3 あやねる（佐倉綾音）
    //-             p 最推しの女性声優。初主演アニメ「夢喰いメリー」をふと見て聞いた瞬間に一目惚れた。少年のようなハスキー感と、でも確かにある少女性のコンボ。ワイの理想の2次元女子の声そのもの。報われない幼馴染役、ツッコミ役、少年役、かなりひねくれた女性役、様々な役を経験し、結果的に「僕のヒーローアカデミア」で王道ヒロインのお茶子役になったときのワイの感動といったら。あやねるをわかっていやがる。そうそう、そういう男子と同じ目線で男友達みたいに話しかけてくれる女子、最高なんや。わかっていやがる。でも本人としては高音で苦手な役らしいけど。ラジオもちょくちょく聴いてる。「ちょろい」の頃から聴いてる。矢作パイセンとの絡み大好きやったで。そして「佐倉としたい大西」。大西さんとの凸凹最高なんや。セブンイレブンで限定はがきみたいなのプリントしちゃったわ、もう。ちなみにあやねるってニックネームつけたのは「夢喰いメリー」で主人公役だった岡本信彦さんなんやて。ヒロアカでもかっちゃんとして共演しとるし、控えめに言ってアツすぎない？？
    //-           a(href="http://", target="_blank", rel="noopener noreferrer") がいぶリンクアイコン

    section.section.skills
      .section_inner
        .section_head
          h2 Skills
        ul
          li
            span HTML
          li
            span CSS
          li
            span Pug
          li
            span SCSS
          li
            span JS / ES6
          li
            span jQuery
          li
            span Vue.js
          li
            span.prog Nuxt.js
          li
            span.prog React
          li
            span.prog Next.js
          li
            span gulp
          li
            span Git
          li
            span GitHub
          li
            span Netlify
          li
            span FireBase
          li
            span.prog WordPress
          li
            span MovableType
          li
            span MicroCMS
          li
            span Photoshop
          li
            span Premiere Pro
          li
            span YouTube
          li
            span OBS
          li
            span.prog Studio One

    
